/* common classes */
pre { PADDING: 0px; MARGIN: 0px; }

.dg_left { TEXT-ALIGN: left; }
.dg_center { TEXT-ALIGN: center; }
.dg_right { TEXT-ALIGN: right; }
.dg_nowrap { WHITE-SPACE: nowrap; }
.dg_underline { TEXT-DECORATION: underline; }
.resizable-textarea .grippie { BORDER-RIGHT: #d2d0bb 1px solid; BORDER-TOP: #d2d0bb 1px solid; OVERFLOW: hidden; BORDER-LEFT: #d2d0bb 1px solid; CURSOR: s-resize; BORDER-BOTTOM: #d2d0bb 1px solid; HEIGHT:6px; }

a.default_dg_a { BACKGROUND: transparent; COLOR: #72705b; TEXT-DECORATION: none; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;}
a.default_dg_a:link { BACKGROUND: transparent; COLOR: #72705b; TEXT-DECORATION: none; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;}
a.default_dg_a:hover { BACKGROUND: transparent; COLOR: #f0c030; TEXT-DECORATION: none; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;}
a.default_dg_a:visited { }
a.default_dg_a2 { BACKGROUND: transparent; COLOR: #72705b; TEXT-DECORATION: none; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;}
a.default_dg_a2:link { BACKGROUND: transparent; COLOR: #72705b; TEXT-DECORATION: none; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;}
a.default_dg_a2:hover { BACKGROUND: transparent; COLOR: #ffcc33; TEXT-DECORATION: none; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;}
a.default_dg_a2:visited { BACKGROUND: transparent; COLOR: #72705b; TEXT-DECORATION: none; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;}
/* columns header links */
a.default_dg_a_header { BACKGROUND: transparent; COLOR: #72705b; TEXT-DECORATION: none; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;}
a.default_dg_a_header:link { BACKGROUND: transparent; COLOR: #72705b; TEXT-DECORATION: none; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;}
a.default_dg_a_header:hover { BACKGROUND: transparent; COLOR: #f0c030; TEXT-DECORATION: none; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;}
a.default_dg_a_header:visited { }

.default_dg_fieldset { MARGIN: 0px; BORDER: #dddddd 1px solid;}
.default_dg_filter_table { BORDER: #d0d0d0 0px solid; FONT: normal 12px Tahoma;}
.default_dg_filter_table tr td { FONT-SIZE: 12px; }
.default_dg_legend { FONT: normal 12px Tahoma;}
.default_dg_paging_table { BORDER: #d0d0d0 0px solid; FONT: normal 12px Tahoma;}
.default_dg_paging_table tr td { FONT-SIZE: 12px; }
.default_dg_table { BORDER-COLLAPSE: collapse; BORDER: #d0d0d0 1px solid; FONT: normal 12px Tahoma;}

.default_dg_th { BORDER-BOTTOM: #ffcc33 2px solid; BORDER-RIGHT: #d2d0bb 2px solid; PADDING-LEFT: 5px; PADDING-RIGHT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT: bold 13px Tahoma; COLOR: #333333; }
.default_dg_th_normal { BORDER-BOTTOM: #d2d0bb 2px solid; BORDER-RIGHT: #d2d0bb 2px solid; BORDER-LEFT: #e1e2e3 2px solid; MARGIN-LEFT: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px;  FONT: bold 13px Tahoma; COLOR: #333333; BACKGROUND-COLOR: #e2e0cb}
.default_dg_th_selected { BORDER-BOTTOM: #cd0000 2px solid; BORDER-RIGHT: #d2d0bb 2px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT: bold 13px Tahoma; COLOR: #333333; BACKGROUND-COLOR: #e2e0cb}

.default_dg_td { BORDER: #f0eee1 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT: normal 12px Tahoma;  }
.default_dg_td_main { BORDER-TOP: #f1efe2 1px solid; BORDER-RIGHT: #fefefe 1px solid; BORDER-LEFT: #e1e2e3 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT: normal 12px Tahoma; }
.default_dg_td_selected { BORDER: #f1efe2 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; FONT: normal 12px Tahoma; PADDING-TOP: 2px; }

.default_dg_button { BORDER-RIGHT: #b2b09b 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ffffff 2px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; FONT: bold 12px Tahoma; BORDER-LEFT: #ffffff 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #b2b09b 1px solid; BACKGROUND-COLOR: #e2e0cb}
.default_dg_select { BORDER: #b2b09b 1px solid; FONT: normal 12px Tahoma; BACKGROUND-COLOR: #fcfaf6;}
.default_dg_label { FONT-SIZE: 12px; FONT-FAMILY: Tahoma; }
.default_dg_textbox { BORDER: #b2b09b 1px solid; FONT: normal 12px Tahoma; WIDTH:210px;PADDING-LEFT:3px;}
.default_dg_checkbox { BORDER: 0px; FONT: normal 12px Tahoma;WIDTH:20px;}
.default_dg_radiobutton { BORDER: 0px; FONT: normal 12px Tahoma;WIDTH:20px;}
.default_dg_caption { FONT: normal 14px Tahoma; FONT-WEIGHT: bold; TEXT-ALIGN:center; PADDING-BOTTOM: 0;}
.default_dg_error_message { FONT: normal 12px Tahoma; COLOR: #a61100; }
.default_dg_warning_message { FONT: normal 12px Tahoma; COLOR: #d2791e; }
.default_dg_ok_message { FONT: normal 12px Tahoma; COLOR: #449944; }

